# Dependências
node_modules/

# Arquivos de compilação temporários
*.css.map
dist/css/main-expanded.css

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

